@use "sass:map";
@import "@/styles/breakpoints";

.container {
  $padding: map.get($breakpoint-container-paddings, "desktop");
  $max-width: map.get($breakpoints, "small-desktop");

  max-width: calc($max-width - calc($padding * 2));
  width: 100%;
  padding: 0 $padding;
  margin: 0 auto;

  @include breakpoint(small-desktop) {
    $padding: map.get($breakpoint-container-paddings, "small-desktop");
    $max-width: map.get($breakpoints, "tablet");

    max-width: calc($max-width - calc($padding * 2));
    padding: 0 $padding;
  }

  @include breakpoint(tablet) {
    $padding: map.get($breakpoint-container-paddings, "tablet");
    $max-width: map.get($breakpoints, "mobile-landscape");

    max-width: calc($max-width - calc($padding * 2));
    padding: 0 $padding;
  }

  @include breakpoint(mobile-landscape) {
    $padding: map.get($breakpoint-container-paddings, "mobile-landscape");
    $max-width: map.get($breakpoints, "mobile-portrait");

    max-width: calc($max-width - calc($padding * 2));
    padding: 0 $padding;
  }

  @include breakpoint(mobile-portrait) {
    $max-width: map.get($breakpoint-container-paddings, "mobile-portrait");

    max-width: calc(100% - calc($max-width * 2));
  }
}
