$white: #fcfcfc;
$black: #030303;

$gray-100: #b5c8da;
$gray-200: #83919e;
$gray-300: #374759;

$blue-100: #3291d7;
$blue-200: #2974ac;
$blue-300: #153b64;
$blue-400: #0d335b;
$blue-500: #012d4e;
$blue-600: #082441;
$blue-700: #051a30;
$blue-800: #031629;
$blue-900: #021221;

$yellow: #ca8a04;

$placeholder: #808080;

$background-gradient: linear-gradient(
  180deg,
  $blue-700 0%,
  $blue-900 50%,
  $blue-700 100%
);
