@use "@/styles/colors" as colors;
@use "@/styles/fonts" as fonts;
@import "@/styles/breakpoints";

.title {
  @include fonts.header-2;
  color: colors.$white;

  @include breakpoint(small-desktop) {
    font-size: 40px;
    line-height: 40px;
  }

  @include breakpoint(tablet) {
    font-size: 32px;
    line-height: 36px;
  }
}
